################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/So_Nguyen_Lon/Debug
/Debug
/x64
