################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/So_Nguyen_Lon/Debug
/Debug
/So_Nguyen_Lon/So_Nguyen_Lon.vcxproj.user
/x64
/Release
/So_Nguyen_Lon/Release
